### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%). 


### Report
* Women spend pay more expensive items than men,($4.47) but compared to the population examined male spend more, the total purchase of men was $1,967.94

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
game_df = pd.read_csv(file)
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [13]:
# Basic Calculations
player_dem = game_df.loc[:, ["Gender", "SN", "Age"]]
player_dem = player_dem.drop_duplicates()
num_players = player_dem.count()[0]
num_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Basic Calculations
unique = game_df["Item ID"].nunique()
average = game_df["Price"].mean()
total_pur = game_df["Price"].count()
revenue = game_df["Price"].sum()
#Create DataFrame
summary_df = pd.DataFrame({"Number of Unique Items": [unique],
                           "Average Price": [average],
                           "Number of Purchases": [total_pur],
                           "Total Revenue": [revenue]
                           })

summary_df = summary_df.round(2)
summary_df ["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df ["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df = summary_df.loc[:, ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
# Basic Calculations
gender_total = player_dem["Gender"].value_counts()
gender_perce = gender_total / num_players * 100

# Data Cleanup
gender_dem = pd.DataFrame({"Total Count": gender_total,
                                    "Percentage of Players": gender_perce})

gender_dem = gender_dem.round(2)
gender_dem["Percentage of Players"] = gender_dem["Percentage of Players"].map("%{:,.2f}".format)

#Data Gender_demographics
gender_dem

                       Total Count Percentage of Players
Male                           484                %84.03
Female                          81                %14.06
Other / Non-Disclosed           11                 %1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# Basic Calculations
gender_pur_total = game_df.groupby(["Gender"]).sum()["Price"]
gender_average = game_df.groupby(["Gender"]).mean()["Price"]
gender_counts = game_df.groupby(["Gender"]).count()["Price"]


# Calculate normalized Purchasing
normalized_total = gender_pur_total / gender_dem["Total Count"]

# DataFrame
gender_data = pd.DataFrame({"Normalized Total": normalized_total, 
                            "Purchase Count": gender_counts, 
                            "Total Purchase Value": gender_pur_total, 
                            "Average Purchase Value": gender_average})

gender_data = gender_data.round(2)
gender_data ["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data ["Average Purchase Value"] = gender_data["Average Purchase Value"].map("${:,.2f}".format)

gender_data

,Normalized Total,Purchase Count,Total Purchase Value,Average Purchase Value
Gender,,,,
Female,4.47,113,$361.94,$3.20
Male,4.07,652,"$1,967.64",$3.02
Other / Non-Disclosed,4.56,15,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
#bins
bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

#use cut
player_dem["Age Range"] = pd.cut(player_dem["Age"], bins, labels=label)
player_dem.head()

age_dem_total = player_dem["Age Range"].value_counts()
age_dem_perce = age_dem_total / num_players * 100
#DataFrame
age_dem = pd.DataFrame({"Total Count": age_dem_total, "Percent of Players": age_dem_perce})
age_dem = age_dem.sort_index()
age_dem

       Total Count  Percent of Players
<10             17            2.951389
10-14           22            3.819444
15-19          107           18.576389
20-24          258           44.791667
25-29           77           13.368056
30-34           52            9.027778
35-39           31            5.381944
>40             12            2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
age_df = game_df
age_df['Age Range'] = pd.cut(game_df['Age'], bins, labels = label)
purchase_data = game_df.groupby(by='Age Range')

#Create summary data
purchase_count = game_df["Price"].count()
avg_per_price = game_df["Price"].mean()
total_per = game_df["Price"].sum()
avg_per_person = total_per/purchase_count

pur_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_per_price, 
                             "Total Purchase Price": total_per, "Average Per Person": avg_per_person}, index= [3] )
pur_analysis = pur_analysis.round(2)
pur_analysis["Average Purchase Price"] = pur_analysis["Average Purchase Price"].map("${:.2f}".format)
pur_analysis["Total Purchase Price"] = pur_analysis["Total Purchase Price"].map("${:.2f}".format)
pur_analysis["Average Per Person"] = pur_analysis["Average Per Person"].map("${:.2f}".format)
pur_analysis = pur_analysis.sort_index()
pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Per Person
3,780,$3.05,$2379.77,$3.05

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
#Basic Calculations
user_total = game_df.groupby(["SN"]).sum()["Price"]
user_average = game_df.groupby(["SN"]).mean()["Price"]
user_count = game_df.groupby(["SN"]).count()["Price"]
#DataFrame
user_data = pd.DataFrame({"Total Purchase Amount": user_total,
                          "Average Purchase Price": user_average,
                          "Purchase Count": user_count})

user_data.sort_values("Total Purchase Amount", ascending=False)
user_data = gender_data.round(2)

user_data.head()

,Normalized Total,Purchase Count,Total Purchase Value,Average Purchase Value
Gender,,,,
Female,4.47,113,$361.94,$3.20
Male,4.07,652,"$1,967.64",$3.02
Other / Non-Disclosed,4.56,15,$50.19,$3.35

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
#Calculations
popular_items = game_df.groupby(["Item ID", "Item Name"])
pop_pur_count = popular_items['Price'].count()
pop_price = popular_items['Price'].mean()
tot_price = popular_items["Price"].sum()

#Dataframe
popular_df = pd.DataFrame({'Purchase Count': pop_pur_count, "Total Purchase Value": tot_price, "Item Price": pop_price})
popular_df["Item Price"] = popular_df["Item Price"].map("${:.2f}".format)
popular_df["Total Purchase Value"] = popular_df["Total Purchase Value"].map("${:.2f}".format)
popular_df.head()

                            Purchase Count Total Purchase Value Item Price
Item ID Item Name
0       Splinter                         4                $5.12      $1.28
1       Crucifer                         3                $9.78      $3.26
2       Verdict                          6               $14.88      $2.48
3       Phantomlight                     6               $14.94      $2.49
4       Bloodlord's Fetish               5                $8.50      $1.70

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
popular_df.sort_values("Purchase Count", ascending=False).head()

,,Purchase Count,Total Purchase Value,Item Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
82,Nirvana,9,$44.10,$4.90
19,"Pursuit, Cudgel of Necromancy",8,$8.16,$1.02